@using NetCoreWebApp.Utility
@model List<Kitap> 

@if(TempData["basarili"] != null ){

    <h2 style="color:yellowgreen">@TempData["basarili"] </h2>
}

<div class="container">

    <div class="row pt-3 pb-4">
        <div>
            <h1>Kitaplar</h1>
        </div>
    </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kitap Adı</th>
                    <th>Tanım</th>
                    <th>Kitap Türü</th>
                    <th>Yazar</th>
                    <th>Fiyat</th>
                @if (User.IsInRole(UserRoles.Role_Admin))
                {
                    <th></th>
                    <th></th>
                }
            </tr>
            </thead>

            <tbody>
                @foreach (var kitap in Model)
                {
                    <tr>
                        <td>@kitap.Id</td>
                        <td>@kitap.KitapAdi</td>
                        <td>@kitap.Tanim</td>
                        <td>@kitap.KitapTuru.Ad</td>
                        <td>@kitap.Yazar</td>
                        <td>@kitap.Fiyat</td>
                        
                        @if(User.IsInRole(UserRoles.Role_Admin)){
                            <td>
                                <a asp-controller="Kitap" asp-action="EkleGuncelle" asp-route-id="@kitap.Id" type="button" class="btn btn-success" style="width:200px">Güncelle</a>
                            </td>
                            <td>
                                <a asp-controller="Kitap" asp-action="Sil" asp-route-id="@kitap.Id" type="button" class="btn btn-danger" style="width:200px">Sil</a>
                            </td>
                        }

                        
                    </tr>
                }
        
            </tbody>
        </table>
    @if (User.IsInRole(UserRoles.Role_Admin))
    {
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Kitap" asp-action="EkleGuncelle" class="btn btn-lg btn-primary" type="button">Kitap Ekle 

                </a>
            </div>
        </div>
    }
</div>